<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  {% block body %}
  <h1>Information</h1>
      <div class="info">
          <ul class="entries">
              <h3>Memory</h3>
              <h3>Cpu</h3>

              <h3>Interfaces</h3>
              {% for iface in interfaces %}
                <li> {{ iface }} </li>
              {% endfor %}
          </ul>
      </div>
  <h1>Policy</h1>
     <div class="info">
          <ul class="entries">
              <h3>expired</h3>
              <h3>running</h3>
          </ul>
      </div>
  <h1>Rules</h1>
     <div class="info">
          <ul class="entries">
              <h3>enabled</h3>
              <h3>disabled</h3>
          </ul>
      </div>
    {% endblock %}
</div>
